<div class="inner">

    <div class="catalog">

        <div class="catalog-navigation">

            <div class="categories">
                <ul>
                    <li *ngFor="let category of categories; let i = index" [ngClass]="{'active': i === activeItemIndex}" (mouseenter)="showSubcategories(i); changeActiveClass(i)">
                        <span>{{category.name}}</span>
                    </li>
                </ul>
            </div>

            <div class="subcategories">
                <a *ngFor="let subcategory of subcategories" routerLink="/catalog/{{subcategory.url}}" routerLinkActive="active">
                    <h3>{{subcategory.name}}</h3>
                </a>
            </div>

        </div>

    </div>

</div>