<div class="inner">

    <div class="product-selection">

        <h2>Product Selection</h2>

        <button (click)="getProducts()">Get Products</button>

        <ul class="products">
            <li *ngFor="let product of products">
                <a routerLink="/catalog/{{product.parentSubcategory}}/{{product.url}}" routerLinkActive="active">{{product.name}}</a>
                <a routerLink="/catalog/{{product.parentSubcategory}}/{{product.url}}" routerLinkActive="active">{{product.price | currency:'USD':true:'1.0'}}</a>
            </li>
        </ul>

    </div>

</div>